*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    padding: 0 420px;
    margin: 0 50px;
   
}
.text-center{
  width: 100%;
  margin-top: -40%;
  margin-left: 300%;
  margin-right: 300%;
}
.thumbnail {
   margin-bottom: -100%;
    padding: 0 0 0 0;
    border-style: none;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    cursor: pointer;
    border:   transparent;
    display: block;
    margin: 0px -40px;
    float: center;
    width: 350px;
    height: 15%;
    position: inherit;
    
}
.thumbnail:hover, .thumbnail:focus {
 
  background-color: #eee0e0;
  color: #d3cccc;
}
@media only screen and (min-device-width: 1200px) {
  body { 
    width: 100%;
    margin-left: 10%;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  .thumbnail{
    margin-left: 5%;
    margin-right: 40%;
    text-align: center;
    justify-items: center;
    align-items: center;
   
    padding: 0px;
  }
  .thumbnail img{
    
    padding: 1px;
    margin-left: 100%;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-device-width: 576px) {
  body { 
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  .thumbnail{
    margin-left: 10%;
    text-align: center;
    justify-items: center;
    align-items: center;

   
    padding: 0px;
  }
  .thumbnail img{
    
    padding: 1px;
    margin-right: 100%;
  }
  #letter h1 img{
    margin-bottom: -400%;
  }
}

.responsive{
  
    width: 100%;
    height: auto;
    margin-right: 100%;
  
}
#head {
  width: 100%;
  margin-bottom: 10%;
 
}
#head img{
  width: 300px;
  margin-left: 40%;
  margin-right: 40%;

}
#logo{
  width: 100%;
  margin-bottom: 50%;
}
#logo img{
  width: 300px;
  margin-left: 40%;
  margin-right: 40%;
}
#letter{
  width: 100%;
}
#letter h1{
  margin-left: 42%;
  margin-right: 50%;
  width: 100px;
  height: 500px;
  

}
#letter h1 img{
  margin-top: -100px;
  width: 300px;
  height: 200px;
}
@media only screen and (min-device-width: 1200px) {
  body { 
    width: 100%;
    margin-left: 10%;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  .thumbnail{
    margin-left: 5%;
    margin-right: 40%;
    text-align: center;
    justify-items: center;
    align-items: center;
   
    padding: 0px;
  }
  .thumbnail img{
    
    padding: 1px;
    margin-left: 100%;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-device-width: 576px) {
  body { 
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
  .thumbnail{
    margin-left: 10%;
    text-align: center;
    justify-items: center;
    align-items: center;

   
    padding: 0px;
  }
  .thumbnail img{
    
    padding: 1px;
    margin-right: 100%;
  }
  #letter h1 img{
    margin-bottom: -00%;
    
  }
}
p{
  font-size: 20px;
  margin-top: 20%;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}













